* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    margin: 0;
}
h1 {
    font-family: 'Lato';
    position: absolute;
    font-size: 5rem;
    text-align: center;
    color: wheat;
    padding-top: 35vh;
    width: 100%;
}

#particles-js {
    background: black;
    height: 100vh;
}